section + section, section + div {
    margin-top: var(--gap-section);
}

& figure {
    position: relative;

    & figcaption {
        position: absolute;
    }
}

section header {
    padding-block: .75rem 1.5rem;
    border-top: 1px solid var(--stroke-color);
justify-content: space-between;
max-width: 20.5rem;

& a, h3 {
    font: var(--text-span);
    color: var(--text-color-secondary);
}

  & a { 
    gap: .25rem;
    & span {
        background: url(../assets/icons/ArrowRight.svg) no-repeat;
    width: 1rem;
    height: 1rem;
}
&:hover span {
    background: url(../assets/icons/ArrowRight-hover.svg) no-repeat;
}

}
}

#initial .container {
    
justify-content: center;
    & figure {
        overflow: hidden;
border-radius: .25rem;
        &::before {
            content: "";

            position: absolute;
            inset: 0;
            top: 50%;
            background: linear-gradient(180deg, transparent 0%, #020617);
        }

    
        & figcaption {
            bottom: 0;
        }

    }

    & #one {
        max-width: 20.5rem;

        & img {
            height: 26rem;
            width: 20.5rem;
        }

        & span {
            margin-left: 1rem;
            
        }

        & h2 {
            max-height: 6rem;
            padding-inline: 1rem;
            margin-bottom: 1rem;
            font: var(--h1);
        }
    }

    & > div {

& figure {
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(
            180deg, transparent 0%, #020617 100%
        );
    }
}

        & img {
            width: 20.5rem;
            height: 12.5rem;
        }

        & figure figcaption {
            & span {
                margin-left: .75rem;
               }

               & h2 {
                font: var(--h3);
                padding-inline: .75rem;
                margin-bottom: .75rem;
                max-height: 3.75rem;
               }
        }
    }

}

#weekly .container {
    
    justify-content: center;
  
    & figure {
        margin-bottom: .5rem;
        & img {
            width: 20.5rem;
        }

& figcaption {
    top: 0;
    margin: .5rem;
}

    }

& figure + h2, h2 + h2 {
    font: var(--h2);
    max-width: 20.5rem;
}

& .grid {
& div + div {
    margin-top: 2rem;
}
}
}

.inter {
    margin-bottom: 3.5rem;
}

#ai .container {
justify-content: center;
    & div + div {
        margin-top: 2rem;
    }

    & .news {
        max-width: 20.5rem;
    & img {
        height: 5rem;
        aspect-ratio: 1;
    }

    & h2 {
        font: var(--h2);
        margin-bottom: .25rem;
    }

    & p {
        font: var(--text-sm);
        color: var(--text-color-secondary);
    }



}
}

#see .container {
    justify-content: center;
    
    & > img {
        width: 20.5rem;
        margin-bottom: 2rem;
    }

    & div + div {
        margin-top: 2rem;
    }

    & .content {
        max-width: 20.5rem;
& img {
    aspect-ratio: 1;
    height: 4.5rem;
}

        & h2 {
            font: var(--text-sm-2);
}
    }

}

@media (width >=80em) {

section header {
    max-width: 100%;
}

section .container {
    justify-content: initial;
}

      h2 + h2, p + p {
            display: none;
        }
    

    #initial .container {
        grid-template-columns: 1fr 1fr;
        & #one {
            max-width: 100%;
    
        & img {
                height: 26rem;
                width: 100%;
            }
    }

    & > div {
        grid-template-columns: 1fr 1fr;
        & figure {
            max-width: 100%;

            & figcaption {
                & img {
                    width: 100%;
                    height: 12.5rem;
                }
            }
        }
    }

    }

#weekly .container{
    grid-area: weekly;
  & .grid {
    display: flex;
    gap: 1rem;

    & div + div {
        margin-top: 0;
    }

}

& figure {
    & img {
        width: 24.5rem;
    }
}

}

.inter {
    margin-bottom: 6.25rem;
    display: grid;
    grid-template-columns: 2fr 1.5fr;

& section + section {
    margin-top: 0;
}

}

#ai .container{
   justify-content: start;
& .news {
    max-width: 43.5rem;
    & img:not([class="desktop-only"]){
        display: none;
    }

    & img {
        height: 11rem;
    }

}

}


#see .container {
    & > img {
        width: 30.5rem;
        height: 17.5rem;
    }
    
    & .content {
        max-width: 30.5rem;
    }
}

}
